@model IEnumerable<EditVideoMetaDataViewModel>
@{
    ViewData["Title"] = "Index";
}

<div>
    @foreach(var v in Model)
    {
        <div>@v.Title</div>
        <div>@v.Genre</div>
        <div>@v.Description</div>
    }
</div>

