@model IEnumerable<AdminMessage>
@using StreamNet.DomainEntities.Entities
@{
    ViewData["Title"] = "Messages";
}

<h1>Admin Messages</h1>
<div>
    @foreach(var am in Model)
    {
        <div class="d-flex flex-row justify-content-between">
            @if (am.Status == ErrorStatus.error)
            {
            <div><img src="~/img/error.png" style="width: 25px; height: 25px;"/></div>
            }else
                if(am.Status == ErrorStatus.info)
            {
            <div><img src="~/img/info.png" style="width: 25px; height: 25px;"/></div>
            }else
                if(am.Status == ErrorStatus.warning)
            {
            <div><img src="~/img/warning.png" style="width: 25px; height: 25px;"/></div>
            }
            <div style="width:50vw">@am.Body</div>
            <div>@am.TimeStamp</div>
        </div>
    }
</div>
