@model IEnumerable<UserProfileViewModel>
@{
    ViewData["Title"] = "UserList";
}

<h1>UserList</h1>
@foreach(var prof in Model)
{
    <div>
        <div class="d-flex flex-row justify-content-between">
            <img src=@prof.UserProfilePictureBase64>
            <div>@prof.UserName</div>

        </div>
    </div>
}

