@model IEnumerable<StreamNetServer.Entities.Genre>

@{
    ViewData["Title"] = "Home Page";
}

@foreach(var g in Model)
{
    <div class="movie-selector">
        <div class="movie-selector-title">@g.GenreName</div>
        <div class="movie-selector-box">
        </div>
    </div>
}